// ....order....

.shipping-content{
 thead{
     tr{
         th{
            color: var(--color-text);
             border: none;
             font-family: $font-family-base-bold;
         }
     }
  }
 th,td{
      border: none;
      padding-left: 0;
  }
   .edit-tag{
       ul{
           list-style-type: none;
           display: flex;
           justify-content: center;
           text-align: center;
           li{
               &:first-child{
                   margin-right: 15px;
               }
           }
       }
   }
}
              
.bodyrtl{
    .shipping-content .edit-tag ul li:first-child{
        margin-right: 0px;
        margin-left: 15px;
    }
}