.page-accordion-content{
.accordion{
    margin-bottom: 3rem;
    .card{
        .card-header{
            .card-title{
                font-size: $font-size-lg;
                margin-bottom: 0;
                .fas{
                    margin-right: 5px;
                }
            }
        }
    }
}
   
    
}