/*-----------
/----- Header Top bar -------- */



.header-four{
 
    width: 100%;  
      
    .header-mini{
        padding-top: 30px;
        .pro-mini-header-right{
            list-style-type: none;
            display: flex;
            margin: 0;
            align-items: center;
            justify-content: flex-end;
            .dropdown-menu{
                animation: animationcartmenu ease 0.5s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                padding: 15px 0;
                border-radius: 0;
                border: none;
                margin: 9px 0 0 -25px;
                -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.10);
                box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.10);
            }
            .dropdown-item:hover, .dropdown-item:focus {
                color: $secondary;
                text-decoration: none;
                background-color: transparent;
            }
            .dropdown-toggle::after {                         
               content: "";
            }
            li{
                 padding-bottom: 5px;
                padding-top: 5px;
                padding-right: 15px;
                cursor: pointer;
                a , button {
                    font-size: $font-size-base;
                    background-color: transparent;
                    color: var(--color-text);
                    border: none;
                    outline: none;
                }
                .fa-user{
                    margin-right: 5px;
                }
                &:last-child{
                    margin-right: 0px;
                    padding-right: 0px;
                    border-right: none;
                    a{
                        .badge-primary{
                            position: absolute;
                            top: -3px;
                            right: 15px;
                            border-radius: 200px;
                            font-size: 10px;
                            width: 15px;
                            height: 15px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                    }
                }
                &:hover{
                    color: $secondary;
                }
            }
            .dropdown{
                float: right;
    
                .dropdown-toggle::after{
                    content: none;
                }
    
                .dropdown-menu {
                   
                    animation: animationcartmenu ease 0.5s;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.10);
                    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.10);
                    width: 270px;
                    border-radius: $border-radius;
                    border-color: $white;
                    z-index: 99999;
                    margin-top: 6px;
                    right: 0px;
                    left: auto !important;
    
                    .shopping-cart-items {
                        
                        padding-left:25px;
                        padding-right: 25px;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        max-height: 350px;
                        list-style-type: none;
                        overflow-y: auto;
                        
                        li {
                            margin-right: 0;
                            padding-right: 0;
                            border-right:none;
                            float: left;
                            position: relative;
                            width: 100%;
                            margin-bottom: 10px;
                            border-bottom: $border-width solid ;
                            border-color: var(--color-border);
                            padding-bottom: 10px;
                            margin-left: 0;
    
                            .item-thumb {
                                position: absolute;
                                left: 0;
                                top: 0;
    
                                
                                .image {
                                    width: 64px;
                                    height: 64px;
                                    border: $border-width solid;
                                    border-color: var(--color-border);
                                    border-radius: $border-radius;
                                    overflow: hidden;
                                    
                                }
                            }
                            .item-detail{
                                float: left;
                                padding-left: 74px;
                                
                                h3 {
                                    font-family: $font-family-base-bold;
                                    font-size: $font-size-base;
                                    text-transform: capitalize;
                                    color: var(--color-text);
                                }
                                
                                .item-s {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;                               
                                    font-size: $font-size-base;
                                    color: var(--color-text);
                                    
                                    
                                    .fas{
                                        color: var( --color-text-secondary);
                                        float: right;
                                        margin-left: 8px;
                                        -webkit-transition: 0.4s;
                                        transition: 0.4s;
    
                                        &:hover{
                                            color: $secondary;
                                        }
                                    }
                                }
                            }
                            &:last-child{
                                border-bottom: none;
                                margin-bottom:0;
                                padding: 0;
                            }
                        }
                        
                        .item-summary {
                            font-family: $font-family-base-bold;
                            font-size: $font-size-lg;
                            font-weight:$font-weight-bold;
                            color: var(--secondary);
                            margin-bottom: 0;
                            margin-top: 5px;
                            white-space: normal;
                        }
                       
                    }
                }
            }
        }

    .logo{
        margin-right: 30px;

      
    }
    
    .search-field-module {
        position: relative;
        background-color: var(--color-article1-background);
        box-shadow: none;
        width: 100%;
        &:focus{
            border-color: $secondary;
        }
        .search-field-wrap{
               
                input {
                        border:1px solid ;
                        border-color: var(--color-border);
                        background-color: var(--color-article1-background);
                        color: var(--text-color-light);
                        float: left;
                        padding: 0 55px 0 20px;
                        height: 47px;
                        width: 100%;
                        outline: none !important;
                        border-radius: 3px;

                    
                }
                .btn {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                } 
           }   
        .search-field-select{
            float: left;
            position: relative;
            width: 160px !important;
            height: 50px;

            .bootstrap-select{
                width: 100% !important;
                .btn.dropdown-toggle{
                    background-color:$white;
                    color: $body-color-secondary;
                    font-weight: $font-weight-normal;
                    font-family: $font-family-base;
                    height: 50px;
                    width: 100%;
                    border: none;
                    padding: 0;
                    // padding: 0.6rem 4px 0.6rem 15px;
                    .filter-option{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .filter-option-inner-inner {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &:focus{
                        outline: none !important;
                    }

                    &::after{
                        font-family:"Font Awesome 5 Free";
                        font-weight: 900; /* regular style/weight */
                        content: "\f107";
                        position: absolute;
                        top: 17px;
                        right: 6px;
                        color: $body-color-secondary;
                        border: none;
                    }
                    
                }
                
                > .dropdown-menu{
                    animation: animationselect ease 0.7s;
                    animation-iteration-count: 1;
                    transform-origin: 100% 100%;
                    animation-fill-mode: forwards;
                    margin: 0;
                    border: 0;
                    .dropdown-item{
                        padding: 5px 15px 5px 23px;
                    }
                }
                
            }
            &::before {
                content: "";
                width: 1px;
                height: 25px;
                background: $border-color;
                position: absolute;
                top: 50%;
                margin-top: -12px;
                right: -14px;
                z-index: 1;
            }
        }
    }
    
    }
  
    .header-maxi{
        padding: 25px 0;
        .dropdown-item:hover, .dropdown-item:focus{
            background-color: transparent;
        }
        .header-main{
            background-color: $primary;
        }
     
        .Categroy-toggle{
            .dropdown-toggle{                     
               color: $white;
                display: flex;
                padding: 16px 36px 16px 25px;
                border: none;
                outline: none;
                &:focus{
                    box-shadow: none;
                }
                .fas{
                    margin-left: 15px;
                }
             
              &::after{
                  position: absolute;
                  top:25px;
                  right: 21px;
              }
            }
            .dropdown-menu{
              
                border: none;
                animation: animationcartmenu ease 0.5s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                border-color: #fff;
             
                margin-top: 12px;
              
                position: absolute;
                width: 250px;
               
            }
        }
        .navbar {
            padding: 0px;
            padding-left: 30px;
            .navbar-collapse{
    
                .navbar-nav{
    
                    .nav-item{
                        margin-right: 60px;
                        padding:16px 0 16px 0px;
                        &:last-child{
                            margin-right: 0px;
                        }
    
                        .nav-link{
                            position: relative;
                            font-family: $font-family-base;
                            font-size: $font-size-base;
                            color: color-yiq($primary);
                            padding: 0;
                            
    
                            &:hover{
                                text-decoration: none;
                            }
    
                            .badge{
                                position: absolute;
                                top: 2px;
                                left: 10px;
                                font-family: $font-family-base;
                                background-color: $danger;
                                color: color-yiq($danger);
    
                            }
    
                            
                        }
    
                        .dropdown-menu{
                            animation: animationmenu ease 0.5s;
                            animation-iteration-count: 1;
                            transform-origin: 50% 50%;
                            animation-fill-mode: forwards;
    
                            margin: 0px 0 0 -25px;
                            padding:15px 0;
                            border-radius: $border-radius;
                            border:none;
    
                            width: 180px;
                            -webkit-box-shadow: 0 0 4px 0px rgba(51, 51, 51, 0.1);
                            box-shadow: 0 0 4px 0px rgba(51, 51, 51, 0.1);
    
                            .dropdown-item{
                                white-space: normal;
                                img{
                                    width: auto;
                                    position: fixed;
                                    right: -150px;
                                    top: -5px;
                                    visibility: hidden;
                                    z-index: 3;
                                    width: 150px;
                                    -webkit-box-shadow: 0 0 10px rgba(51,51,51,.06);
                                    box-shadow: 0 0 10px rgba(51,51,51,.06);
                                    opacity: 0;
                                    -webkit-transition: .2s;
                                    transition: .2s;
                                }
                                &:hover{
                                    background-color: transparent;
                                    color: $secondary;
                                    transition: 0.5s;
                                    img{
                                        visibility: visible;
                                        top: 0;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    } 
    
                    .nav-item.dropdown:hover > .dropdown-menu{
                        display: block;
                    }
                }
            }
        }
        .pro-header-right-options {
            padding-left: 0;
            padding-right: 0px;
            margin-bottom: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;            
            li {
                position: relative;
                display: inline-block;
                list-style: none;
                margin-left: 35px;
                .cart-left{
                    float: left;
                    position: relative;
                }
                .cart-right{
                    margin-left: 10px;
                    text-align: center;
                    .title-cart {
                        color: color-yiq($primary);
                        font-weight: $font-weight-bold;
                        font-family: $font-family-base-bold;
                        line-height: 15px;
                    }
                    .cart-item{
                        color: color-yiq($primary);
                        font-weight: lighter;
                        text-transform: capitalize;
                        line-height: 15px;
                    }
                }
                .cart-btn{
                    padding:16px 40px 16px 18px;
                }
                > a, button {
                    position: relative;                
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    outline: none;
                    border: none;
                    box-shadow: none !important;
                  

                    .fas, .far {
                        font-size: 17px;
                        -webkit-transition: 0.4s;
                            transition: 0.4s;
                            color: color-yiq($primary);
                    }
                    
                    

                    .badge {
                        position: absolute;
                        right: 18px;
                        font-size: 10px;
                        height: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: color-yiq($primary);
                     
                    }
                   
                    &:hover,&:active,&:focus {
                      
                        .badge{
                            background-color: $primary;
                            transition: 0.4s;
                        }
                    }
                }

                
                
            }
            .dropdown{
                float: right;

                .dropdown-toggle::after{
                    content: none;
                }

                .dropdown-menu {
                    animation: animationcartmenu ease 0.5s;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.10);
                    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.10);
                    width: 270px;
                    border-radius: $border-radius;
                    border-color: $white;
                    z-index: 99999;
                    margin-top: 0px;
                    position: absolute;
                    left: 0px !important;
                  
                    .shopping-cart-items {
                        
                        padding-left:25px;
                        padding-right: 25px;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        max-height: 350px;
                        overflow-y: auto;
                        
                        li {
                            float: left;
                            position: relative;
                            width: 100%;
                            margin-bottom: 10px;
                            border-bottom: $border-width solid;
                            border-color: var(--color-border);
                            padding-bottom: 10px;
                            margin-left: 0;

                            .item-thumb {
                                position: absolute;
                                left: 0;
                                top: 0;

                                
                                .image {
                                    width: 64px;
                                    height: 64px;
                                    border: $border-width solid;
                                    border-color: var(--color-border);
                                    border-radius: $border-radius;
                                    overflow: hidden;
                                    
                                }
                            }
                            .item-detail{
                                float: left;
                                padding-left: 74px;
                                
                                h3 {
                                    font-size: $font-size-base;
                                    text-transform: capitalize;
                                    font-family: $font-family-base-bold;
                                    color: var(--color-text);
                                }
                                
                                .item-s {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;                               
                                    font-size: $font-size-base;
                                    color: var(--color-text);
                                    
                                    
                                    .fas{
                                        color: var( --color-text-secondary);
                                        float: right;
                                        margin-left: 8px;
                                        -webkit-transition: 0.4s;
                                        transition: 0.4s;

                                        &:hover{
                                            color: $secondary;
                                        }
                                    }
                                }
                            }
                            &:last-child{
                                border-bottom: none;
                                margin-bottom:0;
                                padding: 0;
                            }
                        }
                        
                        .item-summary {
                            font-family: "Montserrat-Bold", sans-serif;
                            font-size: $font-size-lg;
                            font-weight:$font-weight-bold;
                            color: var(--secondary);
                            margin-bottom: 0;
                            margin-top: 5px;
                            white-space: normal;
                        }
                       
                    
                    }
                }
            }
            
        }
    }
        

.mega-menu-md{
    width: 654px !important;
}
.mega-menu-sm{
    width: 436px !important;
}
.mega-menu {
    padding:0 !important;

    .no-gutters{
        padding: 0;
    }
    ul{
        list-style: none;
        padding:15px 0;

        li.dropdown-header{
            white-space: normal;
            h5{
                font-family: $font-family-base;
                font-size: $font-size-base;
                color:var(--color-text);
                text-transform: uppercase;
            }
        }

       
    }
    .banner-menu{
        .banner-content{
            position: absolute;
            top: 0;
            left: 0;
            padding: 15px;
            .banner-title{
                font-family: $font-family-base;
                font-size: $font-size-lg;
                span{
                    strong{
                        font-family: $font-family-base-bold;
                        font-size: ($font-size-lg + 1rem);
                    }
                }
            }
        }
    }

}
}


.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position: relative;
    .dropdown-menu {
        top: -15px;
        left: 100%;
        margin-left: 0 !important;
    }
}





.bodyrtl{
    .header-four .header-mini .search-field-module .search-field-wrap input{
        padding: 0 20px 0 55px;
    }
    .header-four .header-mini .search-field-module .search-field-wrap .btn{
        left: 0;
        right: auto;
    }
    .header-four .header-mini .pro-mini-header-right li{
        padding-right: 0px;
        padding-left: 15px;
        &:last-child{
            padding-left: 0;
        }
    }
    .header-four .header-maxi .pro-header-right-options li .cart-btn {
        padding: 16px 18px 16px 40px;
    }

    .header-four .header-mini .search-field-module .search-field-wrap .btn-primary{
        left: 0;
        right: auto;
    }
    .header-four .header-maxi .pro-header-right-options li{
        margin-left: 0px;
        margin-right: 35px;
    }
    .header-four .header-maxi .pro-header-right-options li .cart-right{
        margin-right: 10px;
        margin-left: 0px;
    }
    .header-four .header-maxi .pro-header-right-options li > a .badge, .header-four .header-maxi .pro-header-right-options li button .badge{
        left: 12px;
        right: auto;
    }
    .header-four .header-maxi .Categroy-toggle .dropdown-toggle{
        padding: 16px 25px 16px 36px
    }
    .header-four .header-maxi .Categroy-toggle .dropdown-toggle::after{
        right: auto;
    left: 18px;
    }
    .header-four .header-maxi .Categroy-toggle .dropdown-menu{
        left: auto !important;
        right: 15px;
        transform: translate3d(0px, 41px, 0px) !important;
        text-align: right;
    }
    .header-four .header-maxi .navbar{
        padding-right: 30px;
        padding-left: 0px;
    }
    .header-four .header-maxi .navbar .navbar-collapse .navbar-nav .nav-item{
        margin-left: 60px;
        margin-right: 0px;
    }
    .header-four .navbar .navbar-collapse .navbar-nav .nav-item.dropdown:hover > .dropdown-menu{
        left: auto;
        right: 0;
        text-align: right;
        margin: 0px -25px 0 0;
    }
    .header-four .header-maxi .pro-header-right-options .dropdown .dropdown-menu {
        transform: translate3d(0px, 53px, 0px) !important;
    }
    .pro-header-right-options .dropdown .dropdown-menu .shopping-cart-items{
        text-align: right;
    }
    .header-four .header-mini .pro-mini-header-right li .fa-user{
        margin-left: 5px;
        margin-right: 0;
    }
    .header-four .header-mini .pro-mini-header-right .dropdown-menu{
        text-align: right;
        margin: 9px 0 0 -10px;
    }
    .header-four .header-maxi .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item img{
        left: -150px;
        right: auto;
    }
}


@media only screen and (max-width: 1024px){
    .header-desktop {
        display: none;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1199px){
    .header-four .header-maxi .navbar .navbar-collapse .navbar-nav .nav-item {
        margin-right: 34px;
    }
    .bodyrtl .header-four .header-maxi .navbar .navbar-collapse .navbar-nav .nav-item {
        margin-left: 34px;
        margin-right: 0;
    }
}