// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;  // All Border Color
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;  // All Text Color
$black:    #000 !default;

$blue:    #479af1 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;



$primary-dark: #28B293;
$primary-light: #022e46;


$primary:       #131313 !default;  // Main color or Primary color of the website
$secondary:     #fe4536 !default;  // Main color for buttons 

$secondary-hover: #131313; //icon-hover no used

$success:       $green !default;
$info:          $blue !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;  // For only use background color of the website
$dark:          $gray-800 !default;


$color-gray-light: rgba($white, .15);
$color-gray-dark: rgba($black, .15);




:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --dark : #{$dark};
  --light:#{light};

  --primary-dark: #{rgba($primary, 0.85)};
  --primary-darkest: #{rgba($primary, 0.30)};

  --secondary-dark: #{rgba($secondary, 0.85)};
  --secondary-darkest: #{rgba($secondary, 0.07)};

  --artical-background-success : #{$success};
  --artical-background-success-dark: #{rgba($success, 0.85)};
  --artical-background-success-darkest: #{rgba($success, 0.30)};
  --artical-background-info : #{$info};
  --artical-background-info-darkest: #{rgba($info, 0.30)};
  --artical-background-warning : #{$warning};
  --artical-background-warning-darkest: #{rgba($warning, 0.30)};
  --artical-background-danger : #{$danger};
  --artical-background-danger-darkest: #{rgba($danger, 0.30)};


  
  --color-border: #{$gray-300};

  --text-color-primary: #{$white};
  --text-color-primary-contrast: #{$white};

  --text-color-secondary: #{$white};
  --text-color-secondary-contrast: #{$white};
  
  --text-color-dark: #{$white};
  --text-color-dark-contrast: #{$white};

  --text-color-light: #{$black};
  --text-color-light-contrast: #{$black};

  --color-text-dark: #{$gray-800};
  --color-text-secondary:#{$gray-600};
  --color-text-primary: #{$white};
  --color-text: #{$gray-800};
  // --text-color: #{$white};
  --color-article1-background: #{#f5f5f5};
  --color-article2-background: #{$gray-200};
  --color-article3-background: #{$gray-900};
  --color-article4-background: #{#f5f5f5};
  --color-article5-background: #{rgb(36, 34, 34)};
  --color-page-background : #{#f2f2f2};
  --color-white : #{#fff};
  --skelton-color1: #{#ece9e9};
  --skelton-color2: #{#DDDBDD};
  --skelton-color3: #{#e8e8e8};
}

.dark {
  --light:#{$dark};
  --dark:#{$light};
  --text-color-light:#{$white};

  --text-color-dark:#{$black};
  --text-color-dark-contrast: #{$black};

  --color-page-background: #{#333};
  --color-text: #{$white};
  --color-text-dark: #{$gray-400};
  --color-text-light: #{$gray-700};
  --color-text-secondary: #{$gray-500};
  --color-text-primary:#{$black};
  --color-border: #{$gray-800};
  --color-article1-background: #{#222};
  --color-article2-background:#{#2d2b2b};
  --color-article3-background: #{$gray-900};
  --color-article4-background: #{#222};
  --color-article5-background:#{rgb(36, 34, 34)};
  
  // --color-article-shadow: #{$color-gray-dark};
  --color-white : #{#2d2b2b};
  --skelton-color1: #{#222};
  --skelton-color2: #{#2d2b2b};
  --skelton-color3: #{rgb(36, 34, 34)};

}
 

$body-bg:var(--color-page-background);
$body-bg-secondary:var( --color-article1-background);


$body-color: $black;
$body-color-secondary: $gray-600;
$box-color:#dbdbdb;


// Set a specific jump point for requesting color jumps
$theme-color-interval:      8% !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;




// Links
//
// Style anchor elements.

$link-color:                              $gray-900 !default;
$link-decoration:                         none !default;
$link-hover-color:                        lighten($link-color, 20%) !default;
$link-hover-decoration:                   underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;


$border-width:                1px !default;
$border-color:                $gray-300  !default;

$border-radius:               0 !default;
$border-radius-lg:            0 !default;
$border-radius-sm:            0 !default;


$bg-footer: #fff;
$bg-social: $primary;

@font-face {
  font-family: 'Poppins-Bold';
  src: 
  url('../fonts/Poppins-Bold.eot?#iefix') 
  format('embedded-opentype'),  url('../fonts/Poppins-Bold.woff') format('woff'), url('../fonts/Poppins-Bold.ttf')   
  format('truetype'), url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Medium';
  src:  url('../fonts/Poppins-Medium.eot?#iefix') 
  format('embedded-opentype'),  url('../fonts/Poppins-Medium.woff') format('woff'), url('../fonts/Poppins-Medium.ttf')   
  format('truetype'), url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src:  url('../fonts/Poppins-Regular.eot?#iefix') 
  format('embedded-opentype'),  url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf')   
  format('truetype'), url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Thin';
  src:  url('../fonts/Poppins-Thin.eot?#iefix') 
  format('embedded-opentype'),  url('../fonts/Poppins-Thin.woff') format('woff'), url('../fonts/Poppins-Thin.ttf')   
  format('truetype'), url('../fonts/Poppins-Thin.svg#Poppins-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}


// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Poppins-Regular', sans-serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$font-size-base:               0.875rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base + 0.125) !default;
$font-size-sm:                ($font-size-base - 0.125)  !default;

$font-family-base-bold:        'Poppins-Bold', sans-serif !default;
$font-family-base-medium:        'Poppins-Medium', sans-serif !default;
$font-family-base-thin:        'Poppins-Thin', sans-serif !default;

$font-weight-normal:          400 !default;
$font-weight-semibold:        500 !default;
$font-weight-bold:          600 !default;
$font-weight-bolder:          700 !default;