// ...........footer.............



.footer-four{

    background-color: var(--color-article4-background);
    margin: 60px 0 0 0;
    
.newsletter-outer{
    padding: 60px 0;
    background-color: var(--color-article3-background);
    .newsletter{
     
        h5{
            font-family: $font-family-base-bold;
            font-size: 2rem;
            color: color-yiq($gray-900);
        }
      
        .input-group{
            .form-control{
                height: auto;
             border: none;
            }
         
        }
    }

}
  
.footer-bottom{
    padding-top: 60px;
    padding-bottom: 60px;
    .input-group{
        width: 90%;
        .form-control{
            height: auto;
            background-color: transparent;
            border: 1px solid $border-color;
         
        }
     
    }
    h3{
        color: var(--color-text);
        font-family: $font-family-base-bold;
        font-size: 2rem;
        margin-bottom: 30px;
      
     
    }
    p{
        font-family: $font-family-base;
        color: var(--color-text);
    }
    ul{
        list-style-type: none;
        li{
            margin-bottom: 5px;
            color: var(--color-text);
            a{
                font-family: $font-family-base;
                color: var(--color-text);
                font-size: 0.8rem;
               
                &:hover{
                    color: $secondary;
                }
            }
            .fb{
                color: #3b5998;
                &:hover{
                    color: #0e41ae;
                }
            }
            
            .tw{
                color: #00acee;
                &:hover {
              color: #00f3ff;
                }
            }
          .yt{
            color: #c4302b;
            &:hover {
               color: #b8130e;
            }
          }
          .In{
            color: #0077B5;
            &:hover {
               color: #00a8ff;
            }
           }
           .ig{
            color: #3f729b;
            &:hover {
             color: #3f729b;
            }
           }
          
        }
    }
 
    .socials{
        display: flex;
        margin-bottom: -5px;
        margin-top: 30px;
        li{
            margin-right: 30px;
                .fas, .fab{
                  
                    font-size: 25px;
                   
                }
              
        }
    }
    .contact-us{
        display: flex;
        margin-bottom: -5px;
        margin-top: 30px;
        li{
            margin-right: 15px;
                .fas, .fab{
                    margin-right: 10px;
                    font-size: 25px;
                   
                }
              
        }
    }
  }   
    
   .copyright-main{
       border-top: 1px solid;
       border-color: var(--color-border);
       padding: 0;
    .copyright-content {
        background-color: $secondary;
        padding-top: 10px;
        padding-bottom: 10px;
        
        .footer-info {
            font-size: $font-size-sm;
            color: color-yiq($secondary);
            text-align: center;
            a{
                color: color-yiq($secondary);
            }
        }

        .socials {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 0;

            li{
                font-size: ($font-size-lg + 0.475);
                margin-left: 15px;
                list-style: none;
                a {
                    color: $gray-700;
                    transition: 0.4s;

                 

                }
            }
        } 
    }
   }
 
}
.bodyrtl{
    .footer-four .footer-bottom .socials li{
        margin-left:30px;
        margin-right: 0px;
    }
    .footer-four .footer-bottom .contact-us li{
        margin-left: 15px;
        margin-right: 0;
    }
    .footer-four .footer-bottom .contact-us li .fas, .footer-four .footer-bottom .contact-us li .fab{
        margin-left: 10px;
        margin-right: 0px;
    }
}

@media only screen and (max-width:1200px){
   
}
@media only screen and (max-width:991px){
    .footer-four .footer-bottom .socials{
        margin-bottom: 15px;
    }
    .footer-four .footer-bottom .contact-us{
        flex-direction: column;
        margin-bottom: 0px;
        li{
            margin-right: 0px;
            margin-bottom: 15px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}